body {
    color: grey;  
}

main {
    margin-top: 2%;
    background-image: url(images/pink-wall.jpg);
}
nav {
    border: 2px solid pink;
    border-radius: 17px;
    width: 80%;
    display: flex;
    margin: 0 auto;
}

nav h1 {
    color: green;
    font-size: 45px;
    padding-left: 13%;
}

.nav-links {
    margin: 0 auto;
    font-size: 20px;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    display: flex;
    align-items: center;
    color: green;
}

nav a:hover {
    color: pink;
}

img {
    width: 700px;
    height: auto;
    display: flex;
    border-radius: 3%;
    border: 2px solid honeydew;
}

.main-img {
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

.register-main {
    
    padding-top: 5%;
    width: 35%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.register-form {
    border: 3px solid red;
    margin: 0 auto;
    width: 300px;
    height: auto;
}
