body {
    color: grey;  
}

main {
    margin-top: 2%;
    background-image: url(images/pink-wall.jpg);
}

nav {
    border: 2px solid #DC555B;
    border-radius: 17px;
    width: 80%;
    display: flex;
    margin: 0 auto;


}
nav h1, h2, h3 {
    color: #DC555B;
    font-family: 'Noto Sans', sans-serif;
    font-size: 45px;
    padding-left: 13%;
}


img {
    width: 700px;
    height: auto;
    display: flex;
    border-radius: 3%;
}

.main-img {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}